Voice-Enabled Assistant (Elevenlab).json
{
  "name": "Voice-Enabled Assistant (Elevenlab)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        -48
      ],
      "id": "e6b34a49-b7c2-4d17-99b1-c3784539d507",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1f1_fmQZhFnIcQzgxA3okaLyjxHNjNWm3",
            "mode": "list",
            "cachedResultName": "AI AUTOMATION",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1f1_fmQZhFnIcQzgxA3okaLyjxHNjNWm3"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        -48
      ],
      "id": "b505d3f7-f236-4b27-b7a8-f90c0a4619ac",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zfIprKlg8zUv6RCC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -464,
        -48
      ],
      "id": "fe1eaff6-28df-4233-9c4c-0131491420f4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zfIprKlg8zUv6RCC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -48
      ],
      "id": "4921ccae-6307-4f68-b1a3-54587806d11a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "voice",
          "mode": "list",
          "cachedResultName": "voice"
        },
        "embeddingBatchSize": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        16,
        -48
      ],
      "id": "69c3ea01-efad-4857-b7a0-159d22750d53",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wEGEmXKaenTNIndZ",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        176
      ],
      "id": "55f42a06-3f56-4a84-ab20-7a51a33dfb1e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WDNZZeHbQxj2bWMN",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        112,
        176
      ],
      "id": "8097d5b7-8d39-42dc-ad3e-ad7de53c2194",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        192,
        384
      ],
      "id": "834c3062-6988-4690-941c-2a2600d3018f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voiceaiassistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        696
      ],
      "id": "2fa2f25a-d6d3-4752-becb-11e72ba483e3",
      "name": "Webhook",
      "webhookId": "165df93b-8b77-4a63-bd3b-a11afb655793"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -656,
        696
      ],
      "id": "d19bb58f-115e-4906-989a-274f8260e08f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        920
      ],
      "id": "efa817bb-e168-452f-913f-15420a64f2b7",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fMyicQUuux7QWIbN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -560,
        920
      ],
      "id": "acd75cfe-d4d3-44ad-b829-45939d6524fb",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "voice",
          "mode": "list",
          "cachedResultName": "voice"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -664,
        1128
      ],
      "id": "b85ccbe7-9a91-4a75-b1ef-c9a1a1888e03",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wEGEmXKaenTNIndZ",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        1296
      ],
      "id": "fdb91c03-1e9b-46a4-9050-134a9c967ca4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "WDNZZeHbQxj2bWMN",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -376,
        1128
      ],
      "id": "da84d3a3-6fba-4416-ba21-0167d4010bd8",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fMyicQUuux7QWIbN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -168,
        696
      ],
      "id": "134e7490-d39c-4b30-81c3-3b26eec162e9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4fde23bd-c1f8-472b-a3a8-0a1e6ec42246",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a475f88a6fd853ca8c0a080090697593f079a5112b4558507bd1f07b88833893"
  },
  "id": "ax19XAcb2EQ4rybd",
  "tags": []
}